{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link href="{% static 'images/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Righteous|Quicksand" rel="stylesheet">
        <!-- <link href="https://fonts.googleapis.com/css?family=Catamaran|Play|Rokkitt|Slabo" rel="stylesheet"> -->
        <link href="{% static 'css/login.css' %}" rel="stylesheet">
        <meta charset="utf-8">

        <title>login</title>
    </head>
<!--=========================================================================-->
    <body>
        <p id="image"><img src="{% static 'images/bwlogo.png' %}"></p>
        <p id="text">Sign in to Warehouse 13</p>
<!--=========================================================================-->
        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
            <table border="0">
                <tr class="label"><td>{{ form.username.label_tag }}</td></tr>
                <tr class="field"><td>{{ form.username }}</td></tr>
                <tr class="label"><td>{{ form.password.label_tag }}</td></tr>
                <tr class="field"><td>{{ form.password }}</td></tr>
            </table>

            <input type="submit" value="Sign in" id="submit"/>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
<!--=========================================================================-->
        {% if form.errors %}
            <p id="error">Your username and password didn't match.</p>
        {% endif %}
<!--=========================================================================-->
    </body>
</html>