{% if form.errors %}
    <p id="error">Your username or password didn't match.</p>
{% endif %}

<form action="" method="post">
    {% csrf_token %}

    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}

    {% for field in form.visible_fields %}
        <div class="form-field">
            <div class="label">{{ field.label }}</div>
            <div class="control">{{ field }}</div>
        </div>
    {% endfor %}

    <div class="submit-button">
        <input id="button" type="submit" value="Ok">
    </div>

    <input type="hidden" name="next" value="{{ next }}">
</form>
