<div class="login_form">
    <form action="/login" method="post" id="login_form">
        <div class="login_part">
            <label for="username">Пользователь</label>
            <input autocapitalize="off" autocorrect="off" class="text-input" id="user_name" name="user_name" tabindex="1" type="text" value="">
        </div>
        <div class="login_part">
            <label for="password">Пароль</label>
            <input class="text-input" id="password" name="password" tabindex="2" type="password" value="">
        </div>
        <div class="login_part">
            <input id="signin-btn" class="btn btn-blue" type="submit" value="Войти" tabindex="3">
        </div>
        {% module xsrf_form_html() %}
    </form>
    <div>
        <span class="errormessage">{{ error_message }}</span>
    </div>
</div>