{% extends 'main.html' %}
{% load staticfiles %}

{% block main_title %}artefacts{% endblock %}

{% block content_main %}
    <div class="nomenclature">
    {% for artefact in artefacts %}
        <div class="row">
            <p class="col-20p bg-dark">{{ artefact.keeper }}</p>
            <p class="col-50p bg-light">
                <a href="{% url 'images' %}?id={{ artefact.pk }}&page=1">{{ artefact.title }}</a>
            </p>
            <p class="col-5p col-center bg-dark">{{ artefact.pages }}</p>
            <p class="col-20p col-center bg-light">{{ artefact.date }}</p>
            <p class="col-5p col-center bg-dark">
                {% if user.is_authenticated %}
                <a href="media\{{ artefact.artefact }}" download="{{ artefact.title }}" class="blue">&#10010;</a>
                {% else %}
                <a href="media\6afcb786858a1107edc28b07b4a2486a" download="{{ artefact.title }}" class="red">&#10010;</a>
                {% endif %}
            </p>
        </div>
    {% endfor %}
    </div>
{% endblock %}
