<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="https://cdn.rawgit.com/brython-dev/brython/stable/www/src/brython.js"></script>
        <link rel="stylesheet" href="{{ static_url('css/main.css') }}" type="text/css" />
        <script type="text/python3" src="{{ static_url('py/main.py') }}"></script>
    </head>
    <body onload="brython(1)">
        {% if not current_user %}
            {% include 'login.html' %}
        {% else %}
            {% include 'logout.html' %}
        {% end %}
        {% for pdf_file in files_list %}
            {% include 'pdf_file.html' %}
        {% end %}
        {% if not current_user %}
            {% include 'uload_form.html' %}
        {% end %}
    </body>
</html>